<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<RR_setting_tab_GLOBAL_CONFIG>Глобальный конфиг</RR_setting_tab_GLOBAL_CONFIG>
	<RR_setting_tab_CATEGORY_PRESETS>Предварительные настройки категорий</RR_setting_tab_CATEGORY_PRESETS>
	<RR_setting_tab_CATEGORY_CONFIG>Конфиг категорий</RR_setting_tab_CATEGORY_CONFIG>
	<RR_setting_tab_MOD_INTEGRATIONS>Интеграция модов</RR_setting_tab_MOD_INTEGRATIONS>
	
	<RR_setting_tab_GLOBAL_CONFIG_tooltip>Настройте глобальные параметры Research Reinvented.</RR_setting_tab_GLOBAL_CONFIG_tooltip>
	<RR_setting_tab_CATEGORY_PRESETS_tooltip>Выберите предварительную настройку распределения очков исследования между категориями возможностей.</RR_setting_tab_CATEGORY_PRESETS_tooltip>
	<RR_setting_tab_CATEGORY_CONFIG_tooltip>Настройте отдельные категории исследовательских возможностей.</RR_setting_tab_CATEGORY_CONFIG_tooltip>
	<RR_setting_tab_MOD_INTEGRATIONS_tooltip>Отображение и настройка опциональных интеграций с другими модами.</RR_setting_tab_MOD_INTEGRATIONS_tooltip>
	
	<RR_setting_showProgressMotes>Показывать моты прогресса</RR_setting_showProgressMotes>
	<RR_setting_defaultCompactMode_showProgressMotes_tooltip>Когда эта функция включена, над пешками, добившимися значительного прогресса в исследованиях, на короткое время появляются моты (исчезающие сообщения).</RR_setting_defaultCompactMode_showProgressMotes_tooltip>
	
	<RR_setting_defaultCompactMode>Окно исследования по умолчанию находится в компактном режиме</RR_setting_defaultCompactMode>
	<RR_setting_defaultCompactMode_tooltip>Если эта функция включена, окно списка возможностей для исследований по умолчанию находится в компактном режиме.</RR_setting_defaultCompactMode_tooltip>
	
	
	<RR_setting_kitlessResearch>Разрешить полевые исследования без набора для исследований</RR_setting_kitlessResearch>
	<RR_setting_kitlessResearch_tooltip>Если эта функция включена, полевые исследования можно проводить без набора для исследований, в которых требуется только простой исследовательский стол.</RR_setting_kitlessResearch_tooltip>
	
	<RR_setting_kitlessNeolithicResearch>Позволяет проводить полевые исследования без набора для исследований для неолитических технологий</RR_setting_kitlessNeolithicResearch>
	<RR_setting_kitlessNeolithicResearch_tooltip>Если эта функция включена, полевые исследования можно проводить без набора для исследований, которые находятся на неолитическом уровне.</RR_setting_kitlessNeolithicResearch_tooltip>
	
	<RR_setting_category_selector>Выбрать категорию</RR_setting_category_selector>
	
	<RR_setting_category_enabled>Категория включена</RR_setting_category_enabled>
	<RR_setting_category_enabled_tooltip>Переключите этот пункт, чтобы полностью отключить эту категорию возможностей для исследования.</RR_setting_category_enabled_tooltip>
	
	<RR_setting_category_availableAtOverallProgress>Доступно при общем прогрессе</RR_setting_category_availableAtOverallProgress>
	<RR_setting_category_availableAtOverallProgress_tooltip>Контролирует, на каком этапе исследования доступна эта категория.</RR_setting_category_availableAtOverallProgress_tooltip>
	
	<RR_setting_category_importanceStatic>Статическая важность</RR_setting_category_importanceStatic>
	<RR_setting_category_importanceStatic_tooltip>Важность этой категории будет основываться исключительно на самом проекте, используемом при расчете количества исследовательских баллов, которые будут распределены по этой категории.</RR_setting_category_importanceStatic_tooltip>
	
	<RR_setting_category_importanceMultiplier>Важность</RR_setting_category_importanceMultiplier>
	<RR_setting_category_importanceMultiplier_tooltip>Важность этой категории по отношению к другим, используемая при расчете количества исследовательских баллов, которые будут распределены по этой категории.</RR_setting_category_importanceMultiplier_tooltip>
	
	<RR_setting_category_importanceMultiplierCounted>Важность учтена</RR_setting_category_importanceMultiplierCounted>
	<RR_setting_category_importanceMultiplierCounted_tooltip>Важность данной категории по отношению к другим, используемая при расчете количества очков исследования, которые будут распределены между другими категориями. Должен быть меньше или равен фактическому множителю важности.</RR_setting_category_importanceMultiplierCounted_tooltip>
	
	<RR_setting_category_targetIterations>Целевые итерации</RR_setting_category_targetIterations>
	<RR_setting_category_targetIterations_tooltip>Максимальные индивидуальные возможности, необходимые для полного завершения данной категории.</RR_setting_category_targetIterations_tooltip>
	
	<RR_setting_category_infiniteOverflow>Бесконечное переполнение</RR_setting_category_infiniteOverflow>
	<RR_setting_category_infiniteOverflow_tooltip>Разрешить всегда продолжать исследования в этой категории, если есть больше возможностей такого рода.</RR_setting_category_infiniteOverflow_tooltip>
	
	<RR_setting_category_researchSpeedMultiplier>Множитель скорости исследования</RR_setting_category_researchSpeedMultiplier>
	<RR_setting_category_researchSpeedMultiplier_tooltip>Возможности этой категории будут иметь скорость исследования, умноженную на установленный процент.</RR_setting_category_researchSpeedMultiplier_tooltip>
	
	<RR_setting_category_fractionAxis>Общий множитель скорости исследования</RR_setting_category_fractionAxis>
	<RR_setting_category_researchSpeedAxis>Скорость исследования</RR_setting_category_researchSpeedAxis>
	
	<RR_setting_category_resetToDefault>Сброс к предустановленным значениям по умолчанию</RR_setting_category_resetToDefault>
	
	
	<!--- Mod compat -->
	
	<RR_setting_modCompat_active>{0} патч активен.</RR_setting_modCompat_active>
	<RR_setting_modCompat_fail>{0} патч не сработал.</RR_setting_modCompat_fail>
	<RR_setting_modCompat_notDetected>{0} не обнаружен.</RR_setting_modCompat_notDetected>
	
	<RR_setting_modCompat_combatExtended>Combat Extended обнаружен.</RR_setting_modCompat_combatExtended>
	<RR_setting_modCompat_dubsMintMenus>Dubs Mint Menus обнаружен.</RR_setting_modCompat_dubsMintMenus>
	<RR_setting_modCompat_humanoidAlienRaces>Humanoid Alien Races обнаружен.</RR_setting_modCompat_humanoidAlienRaces>
	<RR_setting_modCompat_researchData>Research Data обнаружен.</RR_setting_modCompat_researchData>
	
	<RR_setting_modCompat_researchData_mode>Режим совместимости</RR_setting_modCompat_researchData_mode>
	<RR_modCompat_researchData_mode_TheoryOnly>Только теоретика</RR_modCompat_researchData_mode_TheoryOnly>
	<RR_modCompat_researchData_mode_TheoryOnly_tooltip>Research Data "fuel" будет расходоваться только при теоретических исследованиях.</RR_modCompat_researchData_mode_TheoryOnly_tooltip>
	<RR_modCompat_researchData_mode_AllBenchResearch>Все исследования</RR_modCompat_researchData_mode_AllBenchResearch>
	<RR_modCompat_researchData_mode_AllBenchResearch_tooltip>Research Data "fuel" будет расходоваться любым исследованием, проводимым на исследовательском стенде..</RR_modCompat_researchData_mode_AllBenchResearch_tooltip>
	<RR_setting_modCompat_notDetected_researchData>Research Data не обнаружен.</RR_setting_modCompat_notDetected_researchData>
	
	
	<!--- Obsolete -->
	<RR_setting_debugPrintouts>Включить режим отладки</RR_setting_debugPrintouts>
	<RR_setting_debugPrintouts_tooltip>Если эта функция включена, будут активны различные тестовые выводы и визуальные эффекты разработчика.</RR_setting_debugPrintouts_tooltip>
	
	<RR_setting_category_targetFractionMultiplier>Множитель основной категории</RR_setting_category_targetFractionMultiplier>
	<RR_setting_category_targetFractionMultiplier_tooltip>Сгенерированные возможности пытаются разделить стоимость исследования проекта в соответствии с относительными размерами долей категорий, в зависимости от этого значения.</RR_setting_category_targetFractionMultiplier_tooltip>
	
	<RR_setting_category_extraFractionMultiplier>Множитель дополниетльных категорий</RR_setting_category_extraFractionMultiplier>
	<RR_setting_category_extraFractionMultiplier_tooltip>Для этой категории разрешены дополнительные исследования, не включенные в первоначальную категорию, присвоенную ей.</RR_setting_category_extraFractionMultiplier_tooltip>
	
</LanguageData>