<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<RR_setting_tab_GLOBAL_CONFIG>Global config</RR_setting_tab_GLOBAL_CONFIG>
	<RR_setting_tab_CATEGORY_PRESETS>Category presets</RR_setting_tab_CATEGORY_PRESETS>
	<RR_setting_tab_CATEGORY_CONFIG>Category config</RR_setting_tab_CATEGORY_CONFIG>
	<RR_setting_tab_MOD_INTEGRATIONS>Mod integrations</RR_setting_tab_MOD_INTEGRATIONS>
	
	<RR_setting_tab_GLOBAL_CONFIG_tooltip>Configure global Research Reinvented settings.</RR_setting_tab_GLOBAL_CONFIG_tooltip>
	<RR_setting_tab_CATEGORY_PRESETS_tooltip>Select a preset of research point distribution between opportunity categories.</RR_setting_tab_CATEGORY_PRESETS_tooltip>
	<RR_setting_tab_CATEGORY_CONFIG_tooltip>Configure individual research opportunity categories.</RR_setting_tab_CATEGORY_CONFIG_tooltip>
	
	<RR_setting_showProgressMotes>Show progress motes</RR_setting_showProgressMotes>
	<RR_setting_defaultCompactMode_showProgressMotes_tooltip>When enabled, motes (floating messages) will briefly appear above pawns that have made significant research progress.</RR_setting_defaultCompactMode_showProgressMotes_tooltip>
	
	<RR_setting_defaultCompactMode>Research window defaults to compact mode</RR_setting_defaultCompactMode>
	<RR_setting_defaultCompactMode_tooltip>When enabled, the research opportunities list window will default to compact mode.</RR_setting_defaultCompactMode_tooltip>
	
	
	<RR_setting_kitlessResearch>Allow field research without research kit</RR_setting_kitlessResearch>
	<RR_setting_kitlessResearch_tooltip>When enabled, field research can be performed without any research kit for research projects that only require a simple research table/kit.</RR_setting_kitlessResearch_tooltip>
	
	<RR_setting_kitlessNeolithicResearch>Allow field research without kit for neolithic technologies</RR_setting_kitlessNeolithicResearch>
	<RR_setting_kitlessNeolithicResearch_tooltip>When enabled, field research can be performed without any research kit for research projects that are of neolithic tech level.</RR_setting_kitlessNeolithicResearch_tooltip>
	
	<RR_setting_category_selector>Select category</RR_setting_category_selector>
	
	<RR_setting_category_enabled>Category enabled</RR_setting_category_enabled>
	<RR_setting_category_enabled_tooltip>Toggle this to disable this category of research opportunities entirely.</RR_setting_category_enabled_tooltip>
	
	<RR_setting_category_availableAtOverallProgress>Available at overall progress</RR_setting_category_availableAtOverallProgress>
	<RR_setting_category_availableAtOverallProgress_tooltip>Controls during which phase of research is this category available.</RR_setting_category_availableAtOverallProgress_tooltip>
	
	<RR_setting_category_importanceMultiplier>Importance</RR_setting_category_importanceMultiplier>
	<RR_setting_category_importanceMultiplier_tooltip>Importance of this category relative to others used when calculating how many research points will be distributed to this category.</RR_setting_category_importanceMultiplier_tooltip>
	
	<RR_setting_category_importanceMultiplierCounted>Importance counted</RR_setting_category_importanceMultiplierCounted>
	<RR_setting_category_importanceMultiplierCounted_tooltip>Importance of this category relative to others used when calculating how many research points will be distributed to other categories. Must be smaller or equal to the actual importance multiplier.</RR_setting_category_importanceMultiplierCounted_tooltip>
	
	<RR_setting_category_targetIterations>Target iterations</RR_setting_category_targetIterations>
	<RR_setting_category_targetIterations_tooltip>The maximum individual opportunities required to fully complete this category.</RR_setting_category_targetIterations_tooltip>
	
	<RR_setting_category_infiniteOverflow>Infinite overflow</RR_setting_category_infiniteOverflow>
	<RR_setting_category_infiniteOverflow_tooltip>Allow research in this category to always continue if there are more opportunities of this type available.</RR_setting_category_infiniteOverflow_tooltip>
	
	<RR_setting_category_researchSpeedMultiplier>Research speed multiplier</RR_setting_category_researchSpeedMultiplier>
	<RR_setting_category_researchSpeedMultiplier_tooltip>Opportunities of this category will have their research speed multiplied by the set percentage.</RR_setting_category_researchSpeedMultiplier_tooltip>
	
	<RR_setting_category_fractionAxis>Total target fraction multiplier</RR_setting_category_fractionAxis>
	<RR_setting_category_researchSpeedAxis>Research speed</RR_setting_category_researchSpeedAxis>
	
	<RR_setting_category_resetToDefault>Reset to preset default</RR_setting_category_resetToDefault>
	
	
	<!--- Mod compat -->
	
	<RR_setting_modCompat_detected_combatExtended>Combat Extended detected.</RR_setting_modCompat_detected_combatExtended>
	<RR_setting_modCompat_notDetected_combatExtended>Combat Extended not detected.</RR_setting_modCompat_notDetected_combatExtended>
	<RR_setting_modCompat_detected_dubsMintMenus>Dubs Mint Menus detected.</RR_setting_modCompat_detected_dubsMintMenus>
	<RR_setting_modCompat_notDetected_dubsMintMenus>Dubs Mint Menus detected.</RR_setting_modCompat_notDetected_dubsMintMenus>
	<RR_setting_modCompat_detected_humanoidAlienRaces>Humanoid Alien Races detected.</RR_setting_modCompat_detected_humanoidAlienRaces>
	<RR_setting_modCompat_notDetected_humanoidAlienRaces>Humanoid Alien Races not detected.</RR_setting_modCompat_notDetected_humanoidAlienRaces>
	
	
	<!--- Obsolete -->
	<RR_setting_debugPrintouts>Enable debug mode</RR_setting_debugPrintouts>
	<RR_setting_debugPrintouts_tooltip>When enabled, various developer printouts and visuals will be active.</RR_setting_debugPrintouts_tooltip>
	
	<RR_setting_category_targetFractionMultiplier>Target fraction multiplier</RR_setting_category_targetFractionMultiplier>
	<RR_setting_category_targetFractionMultiplier_tooltip>The generated opportunities try to split the research cost of the project according to the relative fraction sizes of categories, depending on this value.</RR_setting_category_targetFractionMultiplier_tooltip>
	
	<RR_setting_category_extraFractionMultiplier>Extra fraction multiplier</RR_setting_category_extraFractionMultiplier>
	<RR_setting_category_extraFractionMultiplier_tooltip>Additional research allowed for this category that is not included in the initial fraction assigned to it.</RR_setting_category_extraFractionMultiplier_tooltip>
	
</LanguageData>